@model StationeryEcommerceApp.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register</h2>

@using (Html.BeginForm("Register", "User", FormMethod.Post))
{
    <label>First Name:</label>
    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", required = "required" })

    <label>Last Name:</label>
    @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", required = "required" })


    <label>Email:</label>
    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", required = "required" })

    <label>Username:</label>
    @Html.TextBoxFor(m => m.username, new { @class = "form-control", required = "required" })

    <label>Phone:</label>
    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control", required = "required" })

    <label>Photo :</label>
    @Html.TextBoxFor(m => m.Photo, new { @class = "form-control", required = "required" })

    <label>Address:</label>
    @Html.TextBoxFor(m => m.Address, new { @class = "form-control", required = "required" })

    <label>Password:</label>
    @Html.PasswordFor(m => m.password, new { @class = "form-control", required = "required" })


    <br />
    <input type="submit" value="Register" class="btn btn-success" />
}

<p>Already have an account? @Html.ActionLink("Login", "Login")</p>
